*.log
*.jou
Vivado/.Xil/
Vivado/*.str
Vivado/vck190_*/
Vivado/vmk180_*/
RemoteSystemsTempFiles/
PetaLinux/vck190_*/
PetaLinux/vmk180_*/
docs/build/
Packages/
bootimages/
PetaLinux/offline.txt
VitisAccel/*_workspace/
VitisAccel/*_container/
VitisAccel/kernels/build/
Vivado/ip/build/

